@using BlazorServer.Models
@using Dash.Data
@using Dash.Shared

<li class="@draggable" draggable="true" title="@DataModel.ListElement.KeyToString()" ondragstart="@(()=>HandleDragStart(DataModel))" ondrop="@(() => HandleDragDrop(DataModel))">
    <p class="description">
        @DataModel.ListElement.KeyToString()<br/>
        Productionweek: @DataModel.ProductionCW<br/>
        Deliveryweek: @DataModel.ListElement.DeliveryCW<br/>
        Time: @DataModel.ListElement.TimeTotal<br/>
    </p>
</li>

